CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_LDS_G151=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_LOGIN=y
CONFIG_IMAGEOPT=y
CONFIG_MOSQUITTO_LWS=y
CONFIG_MOSQUITTO_PASSWD=y
CONFIG_OPENSSL_WITH_EC=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_agetty=y
CONFIG_PACKAGE_freifunk-watchdog=y
CONFIG_PACKAGE_libcares=y
CONFIG_PACKAGE_libmosquitto=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_librt=y
CONFIG_PACKAGE_libuuid=y
CONFIG_PACKAGE_libwebsockets-openssl=y
CONFIG_PACKAGE_lrzsz=y
CONFIG_PACKAGE_mosquitto=y
CONFIG_PACKAGE_mosquitto-client=y
CONFIG_PACKAGE_zlib=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="OpenWrt"
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_HWREV="1.0"
CONFIG_VERSION_MANUFACTURER="Leedarson"
CONFIG_VERSION_NICK="Apple"
CONFIG_VERSION_NUMBER="1.00"
CONFIG_VERSION_PRODUCT="Gateway"
CONFIG_VERSION_REPO="http://gateway.leedarson.com/%n/%v/%S/packages"
