
config lagent 'lagent'
	option identifier 'lagent'
	option loglevel 5
	option mqtt_host 'azuremqtt.arnoo.com'
	option mqtt_port '8883'
	option capath '/etc/lagent'
	option cafile '/etc/lagent/rootCA.crt'
	option certfile '/etc/lagent/cert.pem'
	option keyfile '/etc/lagent/privkey.pem'
	option model 'a023.Siren_Hub.g151'
	option hw_ver '1.0'
	option srv_addr 'smarthome.arnoo.com'
	option srv_ver '1.0.1'
