
config lagent 'lagent'
	option identifier 'lagent'
	option loglevel '5'
	option mqtt_host 'azuremqtt.arnoo.com'
	option mqtt_port '8883'
	option capath '/etc/lagent'
	option cafile '/etc/lagent/rootCA.crt'
	option certfile '/etc/lagent/cert.pem'
	option keyfile '/etc/lagent/privkey.pem'
	option hw_ver '1.0'
	option srv_ver '1.0.1'
	option did '1c3e31eaa4a6442bb3420e84d0071714'
	option passwd 'fjz4bfUg'
	option sn '68'
	option mac '08002765c466'
	option token '459ca3bb'
	option zonename 'Asia/Shanghai'
	option fw_ver '1.09'
	option model 'lds.gateway.g152'
	option srv_addr 'smarthome.arnoo.com'

